@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"), url("fonts/web/gilroylight.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"), url("fonts/web/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 800;
    src: local("Roboto"), url("fonts/web/gilroyextrabold.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"), url("fonts/web/opensanslight.woff2") format("woff2");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), url("fonts/web/opensans.woff2") format("woff2");
}

body {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-color: #ffffff;
    color: #000000;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-left: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visuality-hidden,
.visuality-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-size: 18px;
    text-align: center;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    /* веременно */
    background-color: #F7E184;
    height: 24px;
}

.container {
    width: 1250px;
    margin: 0 auto;
    padding: 0 7px;
}

.main-heder {
    display: flex;
    width: 1146px;
    height: 299px;
    background-color: #f7e296;
    margin-top: 40px;
}

.logo {
    position: absolute;
    margin-left: 52px;
    margin-top: -19.5px;
}

.user-navigation-list {
    font-family: "OpenSans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 43px;
}

.user-navigation-item {
    margin-left: 50px;
}

.search-button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: "OpenSans";
    font-size: 15px;
    font-weight: 400;
    align-items: center;
    margin-left: 40px;
}

.search-button::before {
    content: url("./svg/search.svg");
    position: absolute;
    margin-top: 3px;
    margin-left: -34px;
}

.login-link {
    margin-left: 369px;
}

.login-link::before {
    content: url("./svg/user.svg");
    position: absolute;
    margin-left: -25px;
}

.compare {
    margin-left: 186px;
}

.compare::before {
    content: url("./svg/compare.svg");
    position: absolute;
    margin-left: -19px;
}

.basket {
    margin-left: 12px;
}

.basket::before {
    content: url("./svg/cart.svg");
    position: absolute;
    margin-left: -21px;
}

.user-navigation-item:hover,
.user-navigation-item:focus,
.site-navigation-item:hover,
.site-navigation-item:focus {
    opacity: 0.6;
}

.user-navigation-item:active,
.site-navigation-item:active {
    opacity: 0.3;
}

.site-navigation-list {
    display: flex;
    margin-top: 39px;
    margin-left: 279px;
}

.main-heder::after{
    contain: "";
    position: relative;
    width: 30px;
    height: 5px;
    background-color: #f50000;
    z-index: 2;
}

.site-navigation-item {
    font-size: 18px;
    line-height: 24px;
    font-weight: 800;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    margin-left: 35px;
}

.site-navigation-item-сatalog {
    position: relative;
    right: 262px;
}

.site-navigation-item-сatalog::after {
    content: url("./svg/plus.svg");
    position: relative;
    top: 1.4px;
    left: 5px;
}

.user-navigation-contact {
    margin-left: 74px;
}

/*Верхние сдайды */

.slide-title {
    position: absolute;
    width: 478.01px;
    height: 114.61px;
    left: 739px;
    top: 306.39px;
    font-size: 47px;
    line-height: 57px;
    letter-spacing: 0.66px;
    font-weight: 800;
}

.slide-offer {
    position: absolute;
    width: 509px;
    height: 63.5px;
    left: 739px;
    top: 459.5px;
    font-family: "OpenSans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    letter-spacing: -0.18px;
}

.parameters {
    margin-top: 45px;
    margin-left: -2px;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
    top: 600px;
    left: 741px;
}

.parameters tr:first-child {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: .01em;
}

.parameters td {
    width: 160px;
    padding: 0;
}

.parameters td:nth-child(2) {
    width: 139px;
}

.parameters tr:last-child {
    font-family: "OpenSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    letter-spacing: .01em;
}

.parameters-name td {
    padding-top: 7px;
}

.slide-1 {
    position: relative;
}

.slide-1 img {
    position: absolute;
    margin-left: 135px;
    margin-top: -110px;
}

.slide-1-characteristics {
    position: relative;
    bottom: 378px;
    right: 95px;
}

.popular {
    margin-top: 337px;
    margin-left: 47px;
}

.popular-list {
    position: relative;
    display: flex;
}

.popular-item {
    margin-right: 39.2px;
}

.popular-item:hover svg,
.popular-item:focus svg {
    background-color: #F0C52E;
}

.popular-item:active g {
    opacity: 0.3;
}

.popular-link {
    letter-spacing: 0.1px;
    position: relative;
    top: 27px;
}

.popular-1 {
    background-color: #f7e296;
    padding: 31px;
    padding-top: 52px;
    padding-bottom: 53px;
}

.popular-2 {
    background-color: #f7e296;
    padding: 37px;
    padding-left: 39px;
    padding-top: 40px;
    padding-bottom: 2px;
}

.popular-3 {
    background-color: #f7e296;
    padding: 40px;
    padding-left: 48px;
    padding-top: 38px;
    padding-bottom: 35px;
}

.popular-4 {
    background-color: #f7e296;
    padding: 27px;
    padding-top: 50px;
    padding-bottom: 45px;
}

.popular-5 {
    background-color: #f7e296;
    padding-left: 55.5px;
    padding-right: 50px;
    padding-top: 32px;
    padding-bottom: 30px;
}

.popular-6 {
    background-color: #f7e296;
    padding: 15px;
    padding-left: 12px;
    padding-top: 48px;
    padding-bottom: 43px;
}

.servicess {
    position: relative;
    margin-top: 207px;
    width: 5645px;
    margin-left: -2400px;
    height: 288px;
    display: flex;
    background-color: #E5E5E5;
}

.servicess-content {
    position: relative;
    width: 1250px;
    left: 2271px;
    margin-left: 575px;
}

.servicess-content::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 320px;
    left: -124px;
    bottom: 68px;
    background-color: #000000;
}

.servicess-list {
    position: relative;
    right: 944px;
    bottom: 28px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.servicess-item {
    margin-bottom: 45px;
}

.servicess-item a {
    background-color: #F0C52E;
}

.servicess .servicess-slide-1 {
    position: absolute;
    margin-left: 0px;
    bottom: 146px;
}

.servicess-slide-1::after {
    content: url("./svg/delivery.svg");
    position: absolute;
    bottom: -13px;
    margin-left: 558px;
}

.servicess h2 {
    width: 284.64px;
    height: 39px;
    left: 541px;
    font-size: 47px;
    line-height: 48px;
    font-weight: 800;
    align-items: center;
    letter-spacing: 0.8px;
}

.servicess p {
    width: 856px;
    height: 75px;
    left: 540px;
    font-family: "OpenSans";
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    align-items: center;
    letter-spacing: 0.21px;
    color: #464646;
}

.company-logos-list {
    display: flex;
    margin-top: 95px;

}

.company-logos-list li {
    margin-left: 39px;
}

.company-logos-list li {
    opacity: 0.2;
}

.company-logos-list li:hover {
    opacity: 1;
}

.information-columns {
    display: flex;

}

.main-footer {
    display: flex;
    background-color: #464646;
    color: #ffffff;
    margin: 0;
    padding: 0;
}